.entrevistas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.images {
    margin-top: 2rem;
}
.images img {
    width: 100%;
    margin: 0;
}
.images img:hover {
    opacity: 0.5;
    
   

}
