
.episodios {
    margin-top: 2.4rem;   
}
.fondo {
    padding: 7.5rem 0;
    width: 100%;
    background: linear-gradient(
    225deg, #0000ff 0%, #0000a3 100%);
    clip-path: polygon(0 11%, 100% 0, 100% 89%, 0 100%);
}
.episodios h1 {
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}
.podcasts {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 11rem;
}
.podcasts iframe {
    height: 15.5rem;
    width: 90%;

}


@media (min-width: 400px) {
    .podcasts iframe {
        height: 15.5rem;
        width: 35rem;    
    }




}



@media (min-width: 900px) {
    .podcasts {
        flex-direction: row;
    }
    
    .podcasts iframe {
        margin: 2rem;
    }
    
}