.footer-container {
    display: flex;
    flex-direction: column;
    
    text-align: center;
}
.redes {
    display: flex;     
    justify-content: space-between;
    margin: 3.1rem auto;
    width: 22rem;

}
.redes img {
    width: 1.6rem;
    transition: all 0.5s ease;
}
.redes img:hover {
    cursor: pointer;
    /* transform: rotate(360deg); */
    width: 2.4rem;    
}
.footer-container p {
    margin-left: 0;
}
                   