.footer-container {
    display: flex;
    flex-direction: column;
    
    text-align: center;
}
.redes {
    display: flex;     
    justify-content: space-between;
    margin: 3.1rem 0;
}
.redes img {
    width: 2.8rem;
}
.redes img:hover {
    cursor: pointer;
    color: blue;
}
.footer-container p {
    width: auto;
}
                   