.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.fab {
    font-size: 1.6rem;
    transition: all 0.5s ease;
}
.fab:hover {
    color: #00F3BB;
    font-size: 2.4rem;
    cursor: pointer;
}
.fab:active {
    color: #00F3BB;
    font-size: 3.2rem;
    cursor: pointer;    
    transform: translateY(-2rem) rotate(360deg);
}
.redes {
    display: flex;     
    justify-content: space-between;
    margin: 3.1rem auto;
    width: 22rem;

}
.footer-container p {
    margin-left: 0;
}


@media (min-width: 900px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        margin: auto 9rem;
    }
    .redes {
        margin: 3.1rem 0;
    }
}
                   