.info-med {
/*     border: 2px greenyellow solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.phone {
    width: 100%;
    display: flex;
    justify-content: center;
}
.phone img {
    position: relative;
    bottom: 13rem;
    width: 360px;
    overflow: hidden;
}
.title-med {
    margin-top: -8.5rem;
}
