.info-med {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.phone {
    width: 100%;
    display: flex;
    justify-content: center;
}
.phone img {
    position: relative;
    bottom: 13rem;
    width: 360px;
    overflow: hidden;
}
.title-med {
    margin-top: -8.5rem;
}


@media (min-width: 900px) {
    .info-med {
        flex-direction: row;
    }
    .title-med {
        margin-top: -22.5rem;
    }
    .title-med p {
        max-width: 46.4rem;
    }
    .phone {
        width: auto;
    }
}
