.info-bot { 
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.position-bot {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-bot div {
    margin-top: 4rem;
}
.info-bot h1 {
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    margin: auto;
}
.fondo2 {
    /* position: relative; */
    padding: 7.5rem 0;
    width: 100%;
    background: linear-gradient(
    225deg, #0000ff 0%, #0000a3 100%);
    clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 100%);    
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  