.info-top {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;    
}

.tachado {
    text-decoration: line-through;
    
}
.info-top .button {
    margin-left: 1.6rem;
}



@media (min-width: 900px) {
    .info-top {
        justify-content: start;
        align-items: flex-start;    
    }








}