#burger {
    display: none;
}
.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    z-index: 100;
    background-color: white;
    position: relative;
}
.logo {
    width: 2.4rem;
    margin-left: 1.6rem;
   
}
.logo:hover {
  cursor: pointer;
}
.container-burger {
    height: 20px;
    width: 20px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-right: 1.6rem;
  }
  

.linea {
    height: 10%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: all 0.2s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .linea-top {
    top: 25%;
  }
  
  .linea-low {
    /* transform: translate(-50%, -50%); */
    top: 75%;
  }
  .burger-checkbox:checked + .menu-bar .container-burger .linea-med {
    opacity: 0;
  }
  .burger-checkbox:checked + .menu-bar .container-burger .linea-top {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    
  }
  .burger-checkbox:checked + .menu-bar .container-burger .linea-low {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    
  }
  .menu-burger ul li a {
    
    text-decoration: none;
    display: block;
    padding-left: 16px;
    color: white;
    transition: all 0.5s ease;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.6rem;
    }
    
    .menu-burger ul li a:hover {
      background-color: gray 0.2;     
      color: #00F3BB;
      text-decoration: line-through;    
    }
  
  .option-margin {
       padding-bottom: 12px;
       padding-top: 12px;
  }
  .menu-burger ul {
    list-style: none;
      display: flex;
      flex-direction: column;
    
  }
  
  nav {
      width: 100%;
      background-color: #0000EC;
      transition: all 1s;
      position: absolute;
      z-index: 50;
      transform: translateY(-100%);
      opacity: 0;
  }
  #burger:checked ~ .menu-burger  {
    height: auto;
    transform: translateY(0);
    opacity: 1;
    }

 /* VERSION DESKTOP */

    @media (min-width: 900px) {
      
      .menu-bar label {
        display: none;
      }
      .logo {
        margin-left: 8rem;       
    }
      .menu-burger ul li a {
    
        text-decoration: none;
        display: inline-block;
        
        color: #060A24;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 1.6rem;
        }
        
        .menu-burger ul li a:hover {
     
          color: #00F3BB;
          text-decoration: line-through;    
        text-decoration: line-through;
          text-decoration: line-through;    
        }
      
      .option-margin {
           padding-bottom: 0;
           padding-top: 0;
      }
      .menu-burger ul {
        list-style: none;
          flex-direction: row;
          margin-right: 3rem;      
      }      
            
      nav {
        display: flex;
        justify-content: flex-end;
        background: none;         
        z-index: 200;
        transform: none;
        opacity: 1;
        transition: none;
      }
      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: space-between;
      }
    }