.icono-container {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    justify-content: center;
    
}
.icono {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6.5rem;
    

}
.icono img {
    width: 10.4rem;
    transition: 0.5s;
}
.icono img:hover {
    width: 12rem;  
    cursor: pointer;  
}
.icono h2 {
    margin-top: -0.2rem;
    font-weight: bold;
    margin-left: 0;
}



/* VERSION DESKTOP */

@media (min-width: 900px) {
    .icono-container {
        display: flex;
        flex-direction: row;
        margin: 5rem 15rem;
        justify-content: space-around;        
    }
    .icono h2 {
        margin-top: 1rem;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: normal;    
    }
    .icono {
        justify-content: start;
    }











}